    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.SelectUser"}}</label>

            <select name="user" data-dtype="String">
                <option value="tokens" selected>{{localize "LMRTFY.ControlledTokens"}}</option>
                <option value="character">{{localize "LMRTFY.AssignedCharacters"}}</option>
                <optgroup label="{{localize "LMRTFY.Macros"}}">
                    <option value="selected">{{localize "LMRTFY.Selected"}}</option>
                </optgroup>
                <optgroup label="{{localize "LMRTFY.Users"}}">
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "LMRTFY.SelectCharacters"}}</label>
            <button type="button" class="select-all" data-action="selectAll"><i class="fas fa-check-square"></i>{{localize "LMRTFY.SelectAll"}}</button>
            <button type="button" class="deselect-all" data-action="deselectAll"><i class="fas fa-square"></i>{{localize "LMRTFY.SelectNone"}}</button>
        </div>
        <div class="form-group lmrtfy-actor-avatars">
        {{#each actors}}
            <div class="lmrtfy-actor" data-id="{{this.id}}">
                <input type="checkbox" name="actor-{{this.id}}" id="lmrtf-actor-{{this.id}}" data-dtype="Boolean" {{#if (lmrtfy-controlledToken this)}}checked{{/if}} />
                <label for="lmrtf-actor-{{this.id}}">
                {{#if (lmrtfy-showTokenImage this)}}<img src="{{this.prototypeToken.texture.src}}" />{{else}}<img src="{{this.img}}" />{{/if}}
                </label>
            </div>
        {{/each}}
        </div>
    </fieldset>

    <fieldset>
        <input type="hidden" name="advantage" value="0" data-dtype="Number" />

        <div class="form-group">
            <label>{{localize "LMRTFY.WFRP4eDifficulty"}}</label>
            <select name="difficulty" data-dtype="String">
                {{#each difficultyOptions}}
                <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{localize this.label}}</option>
                {{/each}}
            </select>

            <select name="mode" data-dtype="String">
                {{#each rollModes as |name mode|}}
                <option value="{{mode}}">{{localize name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "LMRTFY.WFRP4eSLBonus"}}</label>
            <input type="number" name="slBonus" value="0" data-dtype="Number" />
        </div>
        <div class="form-group">
            <label>{{localize "LMRTFY.WindowTitle"}}</label>
            <input type="text" name="title" value='{{localize "LMRTFY.WindowTitleValue"}}' placeholder='{{localize "LMRTFY.WindowTitlePlaceholder"}}' data-dtype="String"/>
        </div>
        <div class="form-group">
            <label>{{localize "LMRTFY.Message"}}</label>
            <input type="text" name="message" value='' placeholder='{{localize "LMRTFY.MessagePlaceholder"}}' data-dtype="String"/>
        </div>
        <div class="form-group">
            <label>{{localize "LMRTFY.ChooseOneDM"}}</label>
            <div class="lmrtfy-extra-perception">
                <input type="checkbox" name="choose-one" id="lmrtf-choose-one" data-dtype="Boolean" />
                <label for="lmrtf-choose-one">{{localize "LMRTFY.Enabled"}}</label>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.Extras"}}</label>

            <div class="lmrtfy-extras">
                {{#if specialRolls.initiative}}
                <div class="lmrtfy-extra-initiative">
                    <input type="checkbox" name="extra-initiative" id="lmrtf-extra-initiative" data-dtype="Boolean" />
                    <label for="lmrtf-extra-initiative">{{localize "LMRTFY.Initiative"}}</label>
                </div>
                {{/if}}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.CustomFormula"}}</label>
            <input type="text" class="custom-formula" name="formula" value='' placeholder='{{localize "LMRTFY.CustomFormulaPlaceholder"}}' data-dtype="String"/>
        </div>
        <details class="lmrtfy-dice-tray-details">
            <summary class="lmrtfy-dice-tray-expander">{{localize "LMRTFY.Selectors"}}</summary>
            <div>
                <div class="lmrtfy-dice-tray-buttons flexrow lmrtfy-dice-row-flexrow">
                    <div class="lmrtfy-dice-tray-button" data-value="d10" data-action="diceAdd">
                        <span>d10</span>
                    </div>
                    <div class="lmrtfy-dice-tray-button" data-value="d100" data-action="diceAdd">
                        <span>d100</span>
                    </div>
                </div>
                <div class="lmrtfy-dice-tray-buttons flexrow lmrtfy-dice-row-flexrow">
                    <div class="lmrtfy-dice-tray-button lmrtfy-bonus-button" data-value="-1" data-action="bonusAdjust">
                        -
                    </div>
                    <div class="lmrtfy-dice-tray-button lmrtfy-bonus-button" data-value="+1" data-action="bonusAdjust">
                        +
                    </div>
                </div>
                <div class="lmrtfy-clear-button-area">
                    <button type="button" class="lmrtfy-clear-formula" name="lmrtfy-clear-custom" value="1" data-action="clearFormula"><i class="fas fa-pump-soap"></i>{{localize "LMRTFY.ClearCustomFormula"}}</button>
                </div>
            </div>
        </details>
    </fieldset>

    <fieldset>
    <div class="form-group">
        <label>{{localize "LMRTFY.WFRP4eCharacteristics"}}</label>

        <div class="lmrtfy-ability-checks">
            {{#each abilities as |name key|}}
            <div class="lmrtfy-ability">
                <input type="checkbox" name="check-{{key}}" id="lmrtf-check-{{key}}" data-dtype="Boolean" />
                <label for="lmrtf-check-{{key}}">{{localize name}}</label>
            </div>
            {{/each}}
        </div>
    </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.SkillChecks"}}</label>
            <div class="lmrtfy-skill-checks">
                {{#each skills as |name key|}}
                <div class="lmrtfy-skill">
                    <input type="checkbox" name="skill-{{key}}" id="lmrtf-skill-{{key}}" data-dtype="Boolean" />
                    <label for="lmrtf-skill-{{key}}">{{name}}</label>
                </div>
                {{/each}}
            </div>
        </div>
    </fieldset>

    {{#if tables}}
    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.RollTables"}}</label>

            <select name="table" class="lmrtfy-roll-table-list" data-dtype="String" multiple="multiple">
                {{#each tables as |name|}}
                    <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </fieldset>
    {{/if}}

    <div class="lmrtfy-submit">
        <button type="submit" class="lmrtfy-request-roll" name="submit" value="1"><i class="fas fa-dice"></i>{{localize "LMRTFY.RequestRolls"}}</button>
        <button type="submit" class="lmrtfy-save-roll" name="submit" value="1"><i class="fas fa-download"></i>{{localize "LMRTFY.SaveRequest"}}</button>
    </div>
